{% extends "base.html" %}
{% load minecraft %}
{% load markup %}

{%block title %}Caminus{% endblock %}

{% block content %}
{% if news %}
<div class='item news-item'>
<h2><a href="{{news.get_absolute_url}}">{{news.title}}</a></h2>
<div class="byline">By <span itemprop="author">{{news.rootPost.user}}</span> <div class="avatar">{% avatar news.rootPost.user %}</div></div>
<div class="dateline">Posted {{news.created|timesince}} ago</div>
<div class="content" itemprop="articleBody">
    {{news.rootPost.body|truncatewords:"100"|markdown}}
</div>
<div class="commentcount"><a href="{{news.get_absolute_url}}"><span itemprop="interactionCount">{{news.rootPost.get_descendant_count}} comment{{news.rootPost.get_descendant_count|pluralize}}</span> &raquo;</a></div>
<br style="clear:both"/>
<a href="{{ news.forum.get_absolute_url }}">News Forum &raquo;</a>
</div>
{% endif %}
<div class="item">
<h2>Forums</h2>
{%include "forums/_forum_table.html" with forums=forums%}
</div>
{%endblock%}
