{% extends "base_with_nav.html" %}
{% load minecraft %}

{% block localnav %}
{% if user == profile %}
<ul>
<li><a href="{%url local.views.edit %}">Edit profile</a></li>
</ul>
{% endif %}
{% endblock%}

{%block title%}{{profile}}{%endblock%}

{% block sectiontitle %}{{profile}}{%endblock%}

{%block content %}
<div class="item">
<div class="avatar">{% avatar profile 128 %}</div>
<ul>
<li>Member Since: {{profile.date_joined|date:"SHORT_DATE_FORMAT"}}</li>
<li>Last seen: {{profile.last_login|date:"SHORT_DATE_FORMAT"}}</li>
<li>Invited here by: 
{% if profile.claimed_invite.creator %}
<a href="{{profile.claimed_invite.creator.get_absolute_url}}">{{profile.claimed_invite.creator}}</a></li>
{% else %}
Nobody!
{% endif %}
<li>Average Playtime: {{profile.minecraftprofile.averagePlaytime}}</li>
<li>Total Playtime: {{profile.minecraftprofile.totalPlaytime}}</li>
</ul>
<h2>Forum Activity</h2>
<ul>
{% for post in profile.post_set.all %}
<li><a href="{{post.get_absolute_url}}">{{post.topic}}</a></li>
{% endfor %}
</ul>
<h2>Invited Players</h2>
<ul>
{% for invite in profile.invites.all %}
<li><a href="{{invite.claimer.get_absolute_url}}">{{invite.claimer}}</a></li>
{% endfor %}
</ul>
</div>
{%endblock%}
