{% extends "profile_base.html" %}
{% load minecraft %}
{%block title%}{{profile}}{%endblock%}

{% block sectiontitle %}{{profile}}{%endblock%}

{%block content %}
<div class="item">
{% avatar profile %}
<a href="{%url local.views.edit %}">Edit profile</a>
<a href="{%url local.views.invites %}">Invites</a>
<ul>
<li>Member Since: {{profile.date_joined|date:"SHORT_DATE_FORMAT"}}</li>
<li>Last seen: {{profile.last_login|date:"SHORT_DATE_FORMAT"}}</li>
<li>Invited here by: {{profile.claimed_invite.creator|default:"Nobody!"}}</li>
<li>Average Playtime: {{profile.minecraftprofile.averagePlaytime}}</li>
<li>Total Playtime: {{profile.minecraftprofile.totalPlaytime}}</li>
</ul>
</div>
{%endblock%}
