@font-face {font-family:"Minecraft";src:url("minecraft.eot") format("eot"),url("minecraft.woff") format("woff"),url("minecraft.ttf") format("truetype"),url("minecraft.svg#Minecraft") format("svg");font-weight:normal;font-style:normal;}

body {
    background: url(img/blocks.gif);
    font-family: Verdana,Tahoma,"DejaVu Sans",sans-serif;
}

.stat-box {
    padding: 1em;
    color: #fff;
}

#header .stat-box {
    height: 180px;
    margin: 1em;
}

#title {
    color: #fff;
    padding: 1em;
    text-align:center;
    font-family:"Minecraft";
}

#title a {
    color: #fff;
    text-decoration: none;
}

#title h1 {
  margin-bottom: 0;
}

#title img {
    vertical-align: middle;
}

#epicenter {
    background: url(img/adminium.png);
    border: 3px solid black;
}

.stat-box {
    background: url(img/dirt.png);
    border: 3px solid black;
}

.stat-box .title {
    background-color: #333;
    padding: 5px;
    margin-bottom: 1em;
    font-family:"Minecraft";
}

#content {
}

#slogan {
    font-style: italic;
    font-size:xx-small;
}

#content .item, #content .comments {
    clear: both;
    border: 3px solid black;
    color: #fff;
    padding: 2em;
    margin-bottom: 2em;
}

#content .item {
    background:url(img/cobblestone.png);
}

#content .comments {
    background:url(img/dirt.png);
}

a:link {
    color: #BD803A
}

a:visited {
    color: #785125;
}

table {
    color: #fff;
    width: 100%;
}

th {
    font-weight:bold;
    padding: 1em;
}

td {
    padding: 0.5em;
}

tr.header {
    background-color: #aaa;
    color: #000;
}

tr.even {
    background-color:#444;
}

tr.odd {
    background-color:#222;
}

.forum-post {
    border: 1px solid black;
    margin-left: 1em;
}

.forum-post-user {
    float: left;
    width: 100px;
    text-align: center;
    background-color: #888;
    padding: 1em
}

.forum-post-content {
    background-color: #555;
    padding: 1em
    margin-left: 200px;
}

#nav {
    background-color:#000;
    color:#fff;
    margin-bottom: 1em;
    background: url('img/brick.png');
    border: 3px solid black;
}

#nav .title {
    float: left;
    padding: 10px;
    padding-right: 30px;
    background-color:#aaa;
    background: url('img/stone-brick.png');
    border-right: 3px solid black;
    font-family:"Minecraft";
}

#nav ul {
    list-style: none;
    float: right;
    padding: 10px;
}

#nav li {
    float: left;
    height: 1em;
    padding: 10px;
    background-color: #002334;
    border: 1px solid black;
}

#nav li a {
    vertical-align: center;
    display: block;
}

tr.infoBar td {
    text-align: center;
    font-size: large;
    background-color: #111;
}

tr.sticky {
    background-color:#f80;
    color: #000;
}

tr.sticky a:link {
    color: #210;
}

#invite-code {
    font-size:x-large;
    text-align:center;
    background:url(img/chest-open.png) center no-repeat;
    height: 300;
}

#invite-code input {
    font-size: x-large;
    text-align: center;
    background-color: transparent;
    color: #fff;
    border: 0;
    width: 100px !important;
    top: 155;
    position: relative;
}

#invite-table tr.deleted {
    background-color:#000;
    color:#aaa;
}

#epicenter p {
    margin: 0;
}

#epicenter label {
    float:left;
}

#epicenter input[type="text"] {
    float:right;
}

#content input[type="text"], #content textarea {
    width: 100%;
}

#footer {
    text-align:center;
    background-color: #333;
    border: 2px solid black;
    border-bottom: 0px;
    color: #fff;
    padding: 1em;
}
