{% extends 'base_simple.html'%}
{%load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block content %}
<p>Donating to caminus helps keep us alive!</p>
<p>All donations recieve 2000gr per $1 USD. You must be logged in before donating to recieve this.</p>
<p>Donations are handled through <a href="http://dwolla.com/">Dwolla</a></p>
<form method="POST">
{{form.as_p}}
{%csrf_token%}
<input type="submit"/>
</form>
<img src="{{STATIC_PREFIX}}/images/dwolla.png" alt="We accept Dwolla"/>
{% endblock %}
