{% extends 'base.html' %}
{% load static %}
{% load markup %}

{% block title %}News{% endblock %}

{% block content %}
{% for post in items.object_list %}
<h2><a href="{{post.get_absolute_url}}">{{post.title}}</a></h2>
<div class="byline">By {{post.author}}</div>
<div class="content">
    {{post.body|truncatewords:"45"|markdown}}
</div>
<div class="commentcount"><a href="{{post.get_absolute_url}}">{{post.comments.all|length}} comment{{post.comments.all|length|pluralize}} &raquo;</a></div>
{% endfor %}

{% get_static_prefix as STATIC_PREFIX %}
<a href="/news/feed"><img src="{{ STATIC_PREFIX }}/feed.png"/></a>
{% endblock %}
