{% extends 'news_base.html' %}
{% load static %}
{% load markup %}
{% load minecraft %}

{% block title %}News{% endblock %}

{% block content %}
{% for post in items.object_list %}
<div class='item news-item' itemscope itemtype="http://schema.org/BlogPosting">
<h2><a href="{{post.get_absolute_url}}" itemprop="name">{{post.title}}</a></h2>
<div class="byline">By <span itemprop="author">{{post.author}}</span> <div class="avatar">{% avatar post.author %}</div></div>
<div class="dateline">On {{post.created}}</div>
<div class="content" itemprop="articleBody">
    {{post.body|truncatewords:"100"|markdown}}
</div>
<div class="commentcount"><a href="{{post.get_absolute_url}}"><span itemprop="interactionCount">{{post.comments.all|length}} comment{{post.comments.all|length|pluralize}}</span> &raquo;</a></div>
<br style="clear:both"/>
</div>
{% endfor %}

{% get_static_prefix as STATIC_PREFIX %}
<a href="/news/feed"><img src="{{ STATIC_PREFIX }}/feed.png"/></a>
{% endblock %}
