{%load static %}
{% load cache %}
{% load flatpages %}
{% load minecraft %}
{% get_static_prefix as STATIC_PREFIX %}
<html>
<head>
<title>{% block title %}Caminus{%endblock%} - Caminus</title>
<link href="https://plus.google.com/114314721632174286634" rel="publisher"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}/css/text.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}/css/960.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}/css/jquery-ui.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}/css/main.css?{{app_version}}"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}/css/badges.css?{{app_version}}"/>
<link rel="icon" type="image/png" href="{{ STATIC_PREFIX }}/images/logo.png"/>
{% block extracss %}{% endblock extracss %}
<script type="text/javascript">
var uris = {};
{% for uri in js_uris %}
uris["{{uri.name}}"] = "{{uri.uri}}"; {% endfor %}
</script>
<!-- Google+ -->
<script type="text/javascript">
window.___gcfg = {lang: 'en'};
(function() 
{var po = document.createElement("script");
po.type = "text/javascript"; po.async = true;po.src = "https://apis.google.com/js/plusone.js";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(po, s);
})();</script>

<script type="text/javascript" language="javascript" src="{{STATIC_PREFIX}}/js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="{{STATIC_PREFIX}}/js/jquery-ui.js"></script>
<script type="text/javascript" language="javascript" src="{{STATIC_PREFIX}}/js/poll.js"></script>
<script type="text/javascript" language="javascript" src="{{STATIC_PREFIX}}/js/notifications.js"></script>
{% block extrahead %}{% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1828743-4']);
  _gaq.push(['_setDomainName', 'camin.us']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_setCustomVar', 1, 'Logged In',
  {% if user.is_authenticated %}
  'Yes',
  {% else %}
  'No',
  {% endif %}
  1]);

  {% block extraAnalytics %}{% endblock %}

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="wrapper" class="container_12">
    {% if not is_popup %}
    <div id="header">
      <div class="grid_4">
          <div id="title" class="stat-box">
              <div xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Organization">
                  <a href="/">
                      <img src="{{ STATIC_PREFIX }}/images/logo.png"/>
                      <h1><span property="v:name">Caminus</span></h1>
                  </a>
                  <div id="slogan">{{ quote }}</div>
              </div>
          </div>
      </div>
      <div class="grid_8">
          <div id="epicenter" class="stat-box">
          {% if user.is_authenticated %}
          <h2 class="title">{{user.username}}</h2>
          <div class="userbox">
          <div class="avatar">
          <a href="{%url user_profile %}">{% avatar user.minecraftprofile.mc_username %}</a>
          </div>
          <div class="balance">
          <span id="balance-display">{{ user.minecraftprofile.currencyaccount.balance|floatformat:2 }}</span> grist
          </div>
          </div>
          <ul>
              {% if user.is_staff or user.is_superuser %}
              <li class="staff-link"><a href="{% url admin:index %}">Admin</a></li>
              {% endif %}
              <li class="staff-link"><a href="{% url django.contrib.auth.views.logout %}">Logout</a></li>
              <li><a href="{% url user_profile %}">Your Profile</a></li>
              <li><a href="{% url local.views.invites %}">Invites</a></li>
              <li><a href="{% url messages.views.inbox %}">Mail: {{ messages_inbox_count }}</a></li>
              <li><a href="{% url petition.views.index %}">Petitions: {{open_petitions|length}}</a></li>
          </ul>
          {% else %}
          <h2 class="title">Login</h2>
          <p>Welcome! Do you have an invite? <a href="{% url local.views.claimInvite %}">Claim it!</a><p>
          <p><a href="{% url django.contrib.auth.views.password_reset %}">Forgot your password?</a>
          <form method="POST" action="{%url django.contrib.auth.views.login %}">
          {%csrf_token%}
          {{login_form.as_p}}
          <input type="submit" value="Login"/>
          </form>
          {% endif %}
          </div>
      </div>
      <div class="clear"></div>
      <div class="grid_12">
          <div id="nav">
              <div class="title">
                  <h1>{%block sectiontitle %}Caminus{%endblock%}</h1>
                  <p>{% block breadcrumb %}{% endblock %}</p>
              </div>
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="{%url local.views.list %}">User List</a></li>
                  <li><a href="{% url petition.views.create %}">Create Petition</a></li>
                  <li><a href="{% url donate.views.index %}">Donate!</a></li>
                  {% get_flatpages '/' as pages %}
                  {% for page in pages %}
                  <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                  {% endfor %}
              </ul>
              <br style="clear:both"/>
          </div>
      </div>
    </div>
    <div class="clear"></div>
    {% endif %}
    {% if messages %}
    <div id="messages">
        <div class="grid_12">
          <ul>
          {% for message in messages %}
              <li{%if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
          {% endfor %}
          </ul>
        </div>
    </div>
    {% endif %}
    <div class="grid_12">
        {% if notices %}
        <div id="notifications-block">
          <ul>
            {% for notice in notices %}
              <li class="notice-unseen-{{notice.unseen}} notice-{{notice.notice_type}}">{{notice.added}} - {{notice.message|safe}}</li>
            {% endfor %}
            <li class="notification-ack"><form id="notification-ack-form" action="{% url local.views.mark_notifications_read %}" method="GET"><input type="submit" value="Ok"/></form></li>
          </ul>
          <br style="clear:both;"/>
        </div>
        {% endif %}
        <div id="donation-slider">
          <div id="donation-text"><a href="{% url donate.views.index %}">Donations this month: ${{donation_month_total}} of ${{donation_month_goal}}</a></div>
          <div id="donation-progress" style="width: {{donation_goal_progress}}%"></div>
        </div>
    </div>
    {% block main %}
    {% endblock main %}
    <div class="clear"></div>
    {% if not is_popup %}
    <div class="grid_12">
        <div id="footer">
            <p>&copy;2012 Team Caminus. All Rights Reserved.</p>
            <p><a href="http://github.com/tdfischer/caminus/commit/{{app_version}}">Running {{app_version}}</a></p>
            <p><div class="g-plus" data-href="https://plus.google.com/114314721632174286634?rel=publisher" data-width="300" data-height="131" data-theme="dark"></div></p>
        </div>
    </div>
    {% endif %}
</div>
</body>
</html>

