{%load static %}
{% load cache %}
{% get_static_prefix as STATIC_PREFIX %}
<html>
<head>
<title>{% block title %}Caminus{%endblock%} - Caminus</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}/css/text.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}/css/960.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}/css/main.css"/>
</style>
</head>
<body>
<div id="wrapper" class="container_12">
    <div class="grid_4">
        <div id="title" class="header-box">
            <a href="/">
                <img src="{{ STATIC_PREFIX }}images/logo.png"/>
                <h1>Caminus</h1>
            </a>
            <div class="slogan">{{ quote }}</div>
        </div>
    </div>
    <div class="grid_4">
        <div id="epicenter" class="header-box">
        <h2 class="title">Epicenter</h2>
        {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}</p>
        <ul>
            <li><a href="{% url user_profile %}">Profile</a></li>
            <li><a href="{% url profiles.views.logout %}">Logout</a></li>
            {% if user.is_staff %}
            <li><a href="{% url admin:index %}">Admin</a></li>
            {% endif %}
        </ul>
        {% else %}
        <p>Welcome! Do you have an invite? <a href="{% url profiles.views.claimInvite %}">Claim it!</a><p>
        {% endif %}
        </div>
    </div>
    <div class="grid_4">
        <div id="statbox" class="header-box">
            <h2 class="title">World Status</h2>
            <h3>Online Players</h3>
            {% cache 120 onlineList %}
            <ul>
            {% for player in onlinePlayers %}
                <li>{{player}}</li>
            {% endfor %}
            {% endcache %}
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div class="grid_12">
        <div id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{%url forums.views.index%}">Forums</a></li>
                <li><a href="http://{{minecraftHost}}/map/">Live Map</a></li>
            </ul>
            <br style="clear:both"/>
        </div>
    </div>
    <div class="grid_12">
    <div id="content">
    <h1>{%block sectiontitle %}Caminus{%endblock%}</h1>
    {% block breadcrumb %}{% endblock %}
    {% block content %}
    {% endblock %}
    </div>
    </div>
</div>
</body>
</html>
