{% extends 'base.html' %}
{% block sectiontitle %}Invites{% endblock %}

{% block title %}Invites{% endblock %}

{% block content %}
<div class="item">
<p>Your Invites:</p>
<table id='invite-table'>
<tr class="header">
    <th>Code</th>
    <th>Invited User</th>
</tr>
{% if invites %}
{% for invite in invites %}
<tr class="{%cycle 'even' 'odd' %} {% if invite.deleted %}deleted{%endif%}">
    <td>
        {% if invite.deleted %}
        {{invite.code}}
        {% else %}
        <a href="{{invite.get_absolute_url}}">{{invite.code}}</a>
        {% endif %}
    </td>
    <td>
    {% if invite.claimer %}
        {{invite.claimer}}
    {% else %}
        {% if invite.deleted %}
            <em>Deleted</em>
        {% else %}
            <a href="{%url profiles.views.deleteInvite code=invite.code %}">Delete</a>
        {% endif %}
    {% endif %}
    </td>
</tr>
{% endfor %}
{% else %}
<tr class="infoBar">
    <td colspan="2">No invites!</td>
</tr>
{% endif %}
<tr class="actionBar">
    <td colspan="2">
        <a href="{% url profiles.views.createInvite %}">Create a new invite</a>
    </td>
</tr>
</table>

</div>
{% endblock %}
