{% load mptt_tags %}
{% load minecraft %}
{% load markup %}
{% if forums %}
<table class="forum">
<tr class="header">
    <th>Name</th>
    <th>Topics</th>
    <th>Last Post</th>
</tr>
{% for f in forums %}
    <tr class="{% cycle 'even' 'odd' %} subforum">
        <td class="topic-link"><ul><li class="link"><a href="{{ f.get_absolute_url }}">{{ f.name }}</a></li><li>{{f.description|markdown}}</li>
        {% if f.children.all %}
        <li>Subforums:
        {%for subforum in f.children.all %}
          <a href="{{subforum.get_absolute_url}}">{{subforum}}</a>
        {% endfor %}
        </li>
        {% endif %}
        </ul></td>
        <td>{{ f.topicCount }}</td>
        {% if f.freshestTopic%}
        <td class="author-info"><a href="{{f.freshestTopic.lastPost.user.get_absolute_url}}"><div class="avatar">{% avatar f.freshestTopic.lastPost.user 32 %}</div></a><ul><li><a href="{{f.freshestTopic.lastPost.user.get_absolute_url}}">{{f.freshestTopic.lastPost.user}}</a></li><li>{{f.freshestTopic.updated|timesince}} ago</li><li>In <em><a href="{{f.freshestTopic.lastPost.get_absolute_url}}">{{f.freshestTopic}}</a></em></ul></td>
        {% else %}
        <td><em>No posts...</em></td>
        {% endif %}
    </tr>
{% endfor %}
</table>
{% endif %}
