{% load markup %}
<div class="post">
<a name="reply-{{post.id}}"></a>
{% include "_profile_tile.html" with user=post.user %}
<div class="dateline">
<br />
Posted {{post.created}}
{% if post.created != post.updated %}
<br />
Edited {{post.updated}}
{% endif %}
</div>
<div class="forum-post-content">
{{post.body|markdown:"safe"}}
<br style="clear:both"/>
<a href="{% url forums.views.post id=post.id%}">permalink</a>
<a href="{%url forums.views.reply post.id%}">Reply &raquo;</a>
{% if post.user == user or perms.forums.edit_posts %}
<a href="{%url forums.views.editPost post.id%}">Edit &raquo;</a>
{% endif %}
</div>
</div>
