{% extends "forum_base.html" %}

{% block breadcrumb %}
<a href="{% url forums.views.index%}">Forums</a>
{%for f in forum.get_ancestors %}
&gt; <a href="{{f.get_relative_url}}">{{f}}</a>
{%endfor%}
{% endblock %}

{% block content %}

<h2>{{ forum.name }}</h2>
{%include "forums/_forum_table.html" with forums=forums.children%}
<table>
<tr class="header">
    <th>Title</th>
    <th>Posted</th>
    <th>Latest Activity</th>
</tr>
{% if topics %}
{% for topic in topics %}
<tr class="{%cycle 'even' 'odd' %}">
    <td><a href="{{topic.get_absolute_url}}">{{ topic.title }}</a></td>
    <td>{{ topic.created }} </td>
    <td>{{topic.lastPost.created}} by {{ topic.lastPost.user }} </td>
</tr>
{% endfor %}
{% else %}
<tr class="infoBar">
    <td colspan="3">No topics...</td>
</tr>
{% endif %}
<tr class="actionBar">
    <td colspan="3">
        <a href="{%url forums.views.newTopic forumID=forum.id %}">New Topic</a>
    </td>
</tr>
</table>
{% endblock %}
