{% extends "forum_base.html" %}
{% load minecraft %}

{% block breadcrumb %}
Home
{%for f in forum.get_ancestors %}
&gt; <a href="{{f.get_absolute_url}}">{{f}}</a>
{%endfor%}
&gt; {{forum}}
{% endblock %}

{% block content %}

<h2>{{ forum.name }}</h2>
<h3>Subforums</h3>
{%include "forums/_forum_table.html" with forums=forum.children.all %}
<table class="forum">
<tr class="header">
    <th>Topic</th>
    <th>Last Post</th>
</tr>
{% if topics %}
{% for topic in topics %}
<tr class="{%cycle 'even' 'odd' %} {% if topic.sticky %}sticky{% endif %} topic">
    <td class="topic-link"><ul><li class="link">{% if topic.sticky %}Sticky: {% endif%}<a href="{{topic.get_absolute_url}}">{{ topic.title }}</a></li><li>Started by {{topic.rootPost.user}} {{topic.created|timesince}} ago</li></ul></td>
    <td class="author-info"><div class="avatar">{% avatar topic.lastPost.user 32 %}</div><ul><li>{{topic.lastPost.user}}</li><li>{{topic.created|timesince}} ago</li></ul></td>
</tr>
{% endfor %}
{% else %}
<tr class="infoBar">
    <td colspan="3">No topics...</td>
</tr>
{% endif %}
<tr class="actionBar">
    <td colspan="3">
        <a href="{%url forums.views.newTopic forumID=forum.id %}">New Topic</a>
    </td>
</tr>
</table>
{% endblock %}
