{% extends "forum_base.html" %}
{% block extrahead %}
<script type="text/javascript">
$(function() {
  var oldText = "";
  function preview() {
    if ($('#forum-preview').is(':hidden')) {
      $('#forum-preview').show("blind");
    }
    var newText = $('#id_body').val();
    if (newText != oldText)
      $('#forum-preview').load("{% url forums.views.preview %}", {'body': newText});
    oldText = newText;
    setTimeout(preview, 500);
  }
  preview();
});
</script>
{% endblock %}

{%block content%}
<div class="item">
<h2>Replying to:</h2>
{% include 'forums/_reply.html' with post=post %}
</div>
<div class="item">
<form method="POST" action="{%url forums.views.reply post.id %}">
{% csrf_token %}
{{form.as_p}}
<input type="submit" value="Submit"/>
</form>
</div>
<div class="item" id="forum-preview">
</div>
{%endblock%}

{%block breadcrumb %}
Home
{%for f in post.topic.forum.get_ancestors%}
&gt; <a href="{{f.get_absolute_url}}">{{f}}</a>
{%endfor%}
&gt; <a href="{{post.topic.forum.get_absolute_url}}">{{post.topic.forum}}</a>
&gt; <a href="{{post.topic.get_absolute_url}}">{{post.topic}}</a>
&gt; Reply
{%endblock%}
