{% extends "forum_base.html" %}
{% load minecraft %}
{% load mptt_tags %}
{%block title %}{{topic.title}}{%endblock%}

{%block breadcrumb %}
<a href="{% url forums.views.index%}">Forums</a>

&gt; <a href="{{topic.forum.get_absolute_url}}">{{topic.forum}}</a>
{%for f in topic.forum.get_ancestors %}
&gt; <a href="{{f.get_relative_url}}">{{f}}</a>
{%endfor%}
{%endblock%}

{%block content %}
<div class="topic">
<div class="avatar">{% avatar topic.rootPost.user 32 %}</div>
<h2>{{topic.title}}</h2>
<div class="byline">Started by <span itemprop="author">{{topic.rootPost.user}}</span> {{ topic.created }}</div>
<br style="clear:both;"/>
{% include "forums/_post.html" with post=topic.rootPost %}
</div>
{%endblock%}
