{% extends "forum_base.html" %}
{% load minecraft %}
{% load mptt_tags %}

{% block extrahead %}
<script type="text/javascript" language="javascript"
  src="{{STATIC_PREFIX}}/js/lockScroll.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('topic-header').lockScroll({
        'triggerElement': $('topic.item:first'),
    });
  });
</script>
{% endblock %}

{% block sectiontitle %}Forums{% endblock %}

{% block localnav %}
{% if perms.forums %}
<ul>
{% if perms.forums.delete_topic %}
<li><a href="{% url forums.views.deleteTopic topicID=topic.id %}">Delete Topic</a></li>
{% endif %}
{% if perms.forums.sticky_topic %}
<li><a href="{% url forums.views.stickyTopic topicID=topic.id %}">
{% if topic.sticky %}
UnSticky
{% else %}
Make Sticky
{% endif %}
</a></li>
{% endif %}
</ul>
{% endif %}
{% endblock %}

{%block title %}{{topic.title}}{%endblock%}

{%block breadcrumb %}
Home
{%for f in topic.forum.get_ancestors%}
&gt; <a href="{{f.get_absolute_url}}">{{f}}</a>
{%endfor%}
&gt; <a href="{{topic.forum.get_absolute_url}}">{{topic.forum}}</a>
{%endblock%}

{%block content %}
<div class="topic item" id="topic-header">
<div class="avatar">{% avatar topic.rootPost.user 32 %}</div>
<h2>{{topic.title}}</h2>
<div class="byline">Started by <span itemprop="author">{{topic.rootPost.user}}</span> {{ topic.created|timesince }} ago.<br />Last updated {{topic.updated|timesince}} ago.</div>
</div>
<br style="clear:both;"/>
<div class="item">
{% include "forums/_post.html" with post=topic.rootPost %}
</div>
{%endblock%}
